
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.note-link {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.note-li {
    border: 2px solid #ffffff73;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 8px;
}

.note-img {
    width: 64px;
}

.note-del {
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    height: 30px;
    cursor: pointer;
}

.note-del img {
    display: block;
    height: 100%;
}

.note-top {
    display: flex;
    align-items: center;
}

.note-bottom {
    text-align: justify;
    margin-top: 5px;
    border-top: 2px solid #636363ad;
    padding-top: 5px;
    word-break: break-word;
    font-family: monospace;
}

#content {
    resize: none;
    width: 60vw;
    min-width: 530px;
    min-height: 500px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(0deg, black, hsl(205deg 100% 20%));

}

#navy_wrap {
    /* background: linear-gradient(180deg, black 0%, transparent 100%); */
    background-color: rgb(0 0 0 / 59%);
    vertical-align: middle;
}

#navy_wrap > .inner {
    display: flex;
    align-items: center;
}

nav a {
    border-radius: 10px;
}

#content_wrap {
    flex-grow: 1;
    padding-bottom: 30px;
}

#footer_wrap {
    background-color: transparent;
}

#note-container {
    display: flex;
    align-items: flex-start;
    text-align: center;
}

#note-container > p {
    margin: 0 auto;
}

#note-container > div {
    display: flex;
    flex-direction: column;
    width: 50%;
}

@media (max-width: 666px) {
    #note-container {
        flex-direction: column;
        align-items: center;
    }
}

#search {
    margin-bottom: 15px;
    background: #e4e4e436;
}

#search::placeholder {
    color: #fff;
}



#welcome {
    font-size: 5em;
}

h1 {
    font-size: 2.5em;
}

#logo {
    font-weight: bold;
    color: white;
    font-size: 1.5em;
}

.create-note {
    background-color: transparent;
    padding: 20px 0;
}

input, textarea {
    background: #e4e4e436 !important;
}

input::placeholder {
    color: white;
}